<footer class="footer">
  <small>
    Feel Free to visit <a href="http://nkla.org/">No Kill LA</a>
    Site by <a href="https://www.linkedin.com/in/merylharden">Meryl Harden</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://nkla.org/">News</a></li>
    </ul>
  </nav>
</footer>